* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-family: sans-serif;
    background-color: #fff;
    margin-top: 50px;
    margin-bottom:60px;
  }
  
  .nav-div {
      margin-bottom: 90px;
      background-color: #fff;
      position: fixed;
      width: 100%;
      top: 0;
  }
  
  .right-nav {
      display: flex;
      font-weight: bold; 
      font-size: larger;
      font-family: sans-serif;
  }
  
  .nstext {
      margin-left: 120px;
      color: #000;
  }
  
  .frank {
      padding-left: 150px;
      color: darkblue;
  }
  
  .loo {
    padding-top: 550px;
    padding-bottom: 160px;
  }
  
  .ltd-text {
      margin-left: 95px;
  }
  
  .second-layer {
      display: flex;
      margin-top: 40px;
      margin-top: 200px;
  }
  
  .left-nav {
      display: flex;
  }
  
  .rece {
    height: 700px;
    margin-left: 100px;
    width: 600px;
    object-fit: cover;
  }

  .nsestate {
      font-size: xx-large;
      width: 30px;
      line-height:28px ;
      font-style: italic;
      font-weight: bold;
      color: rgb(156, 130, 130);
  }
  
  .home{
    margin-right: 30px;
  }
  
  .rightnav-texts{
    margin-right: 30px;
    text-decoration: none;
  }
  
  .rightnav-texts:hover{
    margin-right: 20px;
    text-decoration: none;
    transition: all ease-in 0.5s;
    color: orange;
  }
  
  .contact-nav{
    margin-right: 20px;
    text-decoration: none;
  }
  
  .contact-nav{
    margin-right: 20px;
    text-decoration: none;
  }
  
  a {
      color: rgb(156, 130, 130);
  }

  .nsdiv-pl {
    color: #000;
    padding-top: 300px;
  }

  .ns-pl {
    font-size: 50px;
    text-align: center;
    font-weight: lighter;
    margin-bottom: 50px;
    font-family: sans-serif;
  }

  .we-are {
    font-size: x-large;
    line-height: 50px;
    text-align: center;
    margin-left: 300px;
    width: 900px;
  }