* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-ul{
  display: flex;
  list-style-type: none;
  font-family: sans-serif;
}

.nsestate {
    font-size: xx-large;
    width: 30px;
    line-height:28px ;
    font-style: italic;
    font-weight: bold;
}

li{
    color: rgb(156, 130, 130);
}

a {
    color: rgb(156, 130, 130);
}

.figcaption{
    color: black;
}
button{
    height: 35px;
    width: 150px;
    border-radius: 30px;
    border-width:3px ;
    border-color: gold;
    border-style:solid;
    color:black ;
}